th, td {
  padding: 5px;
  background: white;
}

.download {
  margin-left: 5px;
}

inline-edit {
  width: 100%;
}

.delete {
  background: transparent;
}

.address {
  width: 500px;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

a:active {
  color: white;
}
