<table>
  <tr>
    <th>Наименование</th>
    <th>Адрес</th>
    <th>ОГРН</th>
    <th>ИНН</th>
    <th>Дата регистрации</th>
  </tr>
  <tr *ngFor="let company of companiesService.companies">
    <td>{{company.name}}</td>
    <td>
      <inline-edit [value]="company.address" (onValueChanged)="company.address = $event"></inline-edit>
    </td>
    <td>{{company.ogrn}}</td>
    <td>{{company.inn}}
      <button (click)="companiesService.downloadCompany(company)">Загрузить</button>
    </td>
    <td>{{company.regDate}}</td>
    <td class="delete">
      <button (click)="deleteCompany(company)">X</button>
    </td>
  </tr>
</table>
