table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.delete {
  border: none;
}

.inline-edit {
  border: none;
}

.inline-edit:focus {
  border: inherit;
}
