<a routerLink="/table" routerLinkActive="active">Таблица</a>
<mat-card *ngFor="let company of companiesService.companies">
  <h2>{{company.name}}</h2>
  <mat-list>
    <mat-list-item>
      ИНН: {{company.inn}}
      <button (click)="companiesService.downloadCompany(company)" class="download" color="primary" mat-raised-button>
        Загрузить
      </button>
    </mat-list-item>
    <mat-list-item>
      ОГРН: {{company.ogrn}}
    </mat-list-item>
    <mat-list-item>
      Адрес регистрации:
      <inline-edit [value]="company.address" (onValueChanged)="company.address = $event"></inline-edit>
    </mat-list-item>
    <mat-list-item>
      Дата регистрации: {{company.regDate}}
    </mat-list-item>
  </mat-list>
  <button (click)="deleteCompany(company)" class="delete" color="warn" mat-raised-button>Удалить</button>
</mat-card>
